@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --background-primary: #151515;
    --background-secondary: #202020;
    --foreground-primary: #ffffff;
    --foreground-secondary: #ffffffbf;
    --foreground-tertiary: #ffffff80;
    --accent-primary: #2c6380;
    --accent-secondary: #002134;
    --accent-tertiary: #375462;
    --transparent-primary: #2c6380bf;
    --transparent-secondary: #2c638080;
    --transparent-tertiary: #2c638040;
    --transparent-quaternary: #2c63801a;
    --error-primary: #fdeded;
    --error-secondary: #f06360;
    --error-tertiary: #5f2120;
    --warning-primary: #fff4e5;
    --warning-secondary: #ffa117;
    --warning-tertiary: #663c00;
    --border-primary: #ffffff40;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: 'Roboto', sans-serif;
    vertical-align: baseline;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*::selection {
    background-color: var(--accent-primary);
    color: #ffffff;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--accent-primary);
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-secondary);
}

html,
body {
    background-color: var(--background-primary);
    color: var(--foreground-primary);
    overflow-x: hidden;
}

svg {
    width: 24px;
    height: 24px;
    stroke: none;
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: var(--foreground-tertiary);
}

.hover {
    transition: all 0.15s ease-in-out;
}

.transparent-primary:hover {
    background-color: var(--transparent-primary) !important;
}

.transparent-secondary:hover {
    background-color: var(--transparent-secondary) !important;
}

.transparent-tertiary:hover {
    background-color: var(--transparent-tertiary) !important;
}

.transparent-quaternary:hover {
    background-color: var(--transparent-quaternary) !important;
}

.accent-primary:hover {
    fill: var(--accent-primary) !important;
    color: var(--accent-primary) !important;
}

.background-accent-primary:hover {
    background-color: var(--accent-primary) !important;
}

.accent-secondary:hover {
    fill: var(--accent-secondary) !important;
    color: var(--accent-secondary) !important;
}

.background-accent-secondary:hover {
    background-color: var(--accent-secondary) !important;
}

.accent-tertiary:hover {
    fill: var(--accent-tertiary) !important;
    color: var(--accent-tertiary) !important;
}

.background-accent-tertiary:hover {
    background-color: var(--accent-tertiary) !important;
}

.rotateChild:hover .rotateLeft {
    transform: rotate(-0.005turn) !important;
}

.errorMessage {
    transform: translateX(-50%) scale(1) !important;
    animation: offScreenGrow 0.5s ease-in-out !important;
    z-index: 1;
}

.offScreen {
    transform: translateX(-50%) scale(0) !important;
}

@keyframes offScreenGrow {
    from {
        opacity: 0;
        transform: translateX(-50%) scale(0);
    }
    to {
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }
}
